@model SignInSystem.Models.Attendee
@{
    Layout = "~/Shared/_Layout.cshtml";
}


<div>

    <h1>Thanks!</h1>
    <br />
    
    <div id="return">
       @Html.ActionLink("Return To Sign In Page", "Main", "SignIn")
    </div>
</div>