<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Shared/style.css" rel="stylesheet" />
    @*<title>@ViewBag.Title</title>*@
</head>
<body>
    <div>Organization Event Name</div>
    <nav></nav>
    <section id="main_content">
        @RenderBody()
    </section>
</body>
</html>
