<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Shared/style.css" rel="stylesheet" />
</head>
<body>
    <nav>Organization Event Name</nav>
    <section id="main_content">
        @RenderBody()
    </section>
</body>
</html>
